body{
        background-color: #ffbcff;
        color: beige;
}

span{
    color:azure;
}

.contagem{
    background-color:aliceblue;
    padding: 20px 0;
    text-align: center;
}

.objetivos{
    color: black;
    padding: 20px;
    font-size: 18px;
}