body{
        background-color: aqua;
        color: aquamarine;
}

span{
    color: rgb(52, 212, 212);
}

.contagem{
    background-color: beige;
    padding: 20px 0;
    text-align: center;
}